<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label t(".name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(".email") %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(".password") %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t(".password_confirmation") %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>
