<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".placeholder") %>
  </div>
  <%= f.submit t(".post"), class: "btn btn-primary" %>
  <div class="picture">
    <%= f.file_field :picture, eccept: Settings.views.micropost.except %>
  </div>
<% end %>
<script src="<%= asset_path "custom" %>"></script>
