<footer class="footer">
  <small>
    <%= t ".small_content_1" %>
    <%= link_to t(".small_link_content_1"), t(".small_link_1") %>
    <%= t ".small_content_2" %>
    <%= link_to t(".small_link_content_2"), t(".small_link_2") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link_about_content"), about_path %></li>
      <li><%= link_to t(".link_contact_content"), contact_path %></li>
      <li><%= link_to t(".link_new_content"), t(".link_new") %></li></li>
    </ul>
  </nav>
</footer>
